<div class="container-fluid">
    <h4>CREATE AN ACCOUNT</h4>
    <hr>
    <%= form_for @customer do |f| %>
        <% if @customer.errors.any? %>
            <div>
                <h2>Form is invalid</h2>
                <ul>
                    <% for message in @customer.errors.full_messages %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        <div class="field">
            <%= f.label "Full Name" %><br>
            <%= f.text_field :customer_name %><br><br>
        </div>
        <div class="field">
            <%= f.label "Email Address" %><br>
            <%= f.text_field :customer_email %><br><br>
        </div>
        <div class="field">
            <%= f.label "Password" %><br>
            <%= f.password_field :password %><br><br>
        </div>
        <div class="field">
            <%= f.label "Confirm Password" %><br>
            <%= f.password_field :password_confirmation %><br><br>
        </div>
        <div class="actions"> <%= f.submit "REGISTER" %></div>
    <% end %>
</div>
