<div class="container-fluid">
    <h4>CREATE AN ACCOUNT</h4>
    <hr>
    <%= form_for @customer do |f| %>
        <% if @customer.errors.any? %>
            <div>
                <h4>FORM IS INVALID!</h4>
                    <% for message in @customer.errors.full_messages %>
                    <%= message %>
                    <% end %>
            </div>
            <br>
        <% end %>
        <div class="field">
            <%= f.label "Name" %><br>
            <%= f.text_field :customer_name %><br><br>
        </div>
        <div class="field">
            <%= f.label "Email Address" %><br>
            <%= f.text_field :customer_email %><br><br>
        </div>
        <div class="field">
            <%= f.label "Password" %><br>
            <%= f.password_field :password %><br><br>
        </div>
        <div class="field">
            <%= f.label "Confirm Password" %><br>
            <%= f.password_field :password_confirmation %><br><br>
        </div>
        <div class="actions"> <%= f.submit "REGISTER", class: "button" %></div>
    <% end %>
</div>
