<div class="d-inline-block col-md-6 text-center">
    <%= image_tag @product.product_image, {height: 500} %><br>
</div>
<div class="d-inline-block col-md-5">
    <span class="category-name">
        <%= @product.category.category_name %>
    </span><br><br>
    <span class="product-page">
        <%= @product.product_name %><br>
        $<%= @product.product_price %><br><br>
        <%= "Description:" %><br>
    </span>
        <%= @product.product_description %><br><br><br>
        <%= button_to "ADD TO CART", add_path(product_id: @product.id), method: :post, class: "button" %>
</div>

