<!DOCTYPE html>
<html>
    <head>
        <title>The Tofu Shop</title>
        <%= csrf_meta_tags %>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <link href="https://fonts.googleapis.com/css?family=Heebo:100,300" rel="stylesheet">

        <%= favicon_link_tag 'favicon.ico' %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <nav class="navbar navbar-default navbar-fixed-top navbar-toggler-right"> <!-- top nav bar -->
            <div class="container-fluid">
                <div class="navbar-header collapse navbar-collapse navbar-right">
                    <a class="navbar-brand" href="/">THE TOFU SHOP</a>
                        <p class="navbar-text collapse navbar-collapse">
                            <% if current_customer %>
                                Welcome, <%= current_customer.customer_name %>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <%= link_to "LOGOUT", session_path("dummy"), method: :delete %>
                            <% else %>
                                <%= link_to "REGISTER", register_path %>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <%= link_to "LOGIN", "/login" %>
                            <% end %>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                            <% if current_customer %>
                                <%= link_to "CART (#{current_customer.cart.products.count})", shoppingcart_path %>
                            <% else %>
                                <%= link_to "CART (0)", shoppingcart_path %>
                            <% end %>

                        </p>
                </div>
            </div>
        </nav>

        <nav class="navbar navbar-default"> <!--  category nav bar -->
            <div class="container-fluid">
                <div class="category-links collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><%= link_to "ALL PRODUCTS", root_path(cat: "all") %></li>
                        <% @cats.each do |cat| %>
                            <li><%= link_to cat.category_name, root_path(cat: cat.id) %></li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <%= yield %>
            </div>
        </div>

        <footer class="footer">
                <%= link_to image_tag("tofu_background.png"), "http://www.instagram.com/tofu_corgi", target: :_blank %>
        </footer>

        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

        <script src="js/bootstrap.min.js"></script>

    </body>

</html>
