<!DOCTYPE html>
<html>
    <head>
        <title>The Tofu Shop</title>
        <%= csrf_meta_tags %>

        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <link href="https://fonts.googleapis.com/css?family=Heebo:100,300" rel="stylesheet">

        <%= favicon_link_tag 'favicon.ico' %>
    </head>

    <body>
        <nav class="navbar navbar-default navbar-fixed-top navbar-toggler-right"> <!-- top nav bar -->
                <div class="navbar-header navbar-center">
                    <a class="navbar-brand" href="/">THE TOFU SHOP</a>
                </div>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav container-fluid">
                        <% if current_customer %>
                           <li>Welcome, <%= current_customer.customer_name %></li>
                           <li><%= link_to "LOGOUT", session_path("dummy"), method: :delete %></li>
                        <% else %>
                           <li><%= link_to "REGISTER", register_path %></li>
                           <li><%= link_to "LOGIN", "/login" %></li>
                        <% end %>
                        <% if current_customer %>
                            <% @quantity = 0 %>
                            <% current_customer.cart.line_items.each do |line| %>
                            <% @quantity += line.quantity %>
                        <% end %>
                            <li><%= link_to "CART (#{@quantity})", shoppingcart_path %></li>
                        <% else %>
                            <li><%= link_to "CART (0)", shoppingcart_path %></li>
                        <% end %>
                    </ul>
                </div>
        </nav>

        <nav class="navbar navbar-default category-nav"> <!--  category nav bar -->
            <div class="container-fluid">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="category-links collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav">
                        <li><%= link_to "ALL PRODUCTS", root_path(cat: "all") %></li>
                        <% @cats.each do |cat| %>
                            <li><%= link_to cat.category_name, root_path(cat: cat.id) %></li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <%= yield %>
            </div>
        </div>

        <footer class="footer">
                <%= link_to image_tag("tofu_background.png"), "http://www.instagram.com/tofu_corgi", target: :_blank %>
        </footer>
    </body>
</html>
